/*
PROJECT: Aumatex Template
───────────────────────────────────────────────────────────────────────────────
    |     '||'  '|' '||    ||'     |     '||''|.   '||''''|  '||'  '|'
   |||     ||    |   |||  |||     |||     ||   ||   ||  .     '|.  .'
  |  ||    ||    |   |'|..'||    |  ||    ||    ||  ||''|      ||  |
 .''''|.   ||    |   | '|' ||   .''''|.   ||    ||  ||          |||
.|.  .||.   '|..'   .|. | .||. .|.  .||. .||...|'  .||.....|     |
───────────────────────────────────────────────────────────────────────────────
FILE:        src/styles/utilities/typographyUtilities.css
SCOPO:       Utility tipografiche per font e pesi
VERSIONE:    1.0
DATA:        10/03/2026
AUTORE:      Aumatex srls  |  www.aumatex.it
AMBIENTE:    sviluppo
BUILD:       beta
STACK:       CSS3
REPO:        https://github.com/aumadev/aumatex_it
LICENZA:     Software proprietario © 2025 Aumatex srls
NOTE:        Uso interno. Vietata qualsiasi diffusione o modifica non autorizzata.
───────────────────────────────────────────────────────────────────────────────
*/

.testoPrimario {
  font-family: var(--fontPrimaria);
  font-weight: var(--pesoTitolo);
}

.testoSecondario {
  font-family: var(--fontSecondaria);
  font-weight: var(--pesoTesto);
}

.titoloPrincipale {
  font-family: var(--fontPrimaria);
  font-weight: var(--pesoTitoloForte);
}

.titoloSezione {
  font-family: var(--fontPrimaria);
  font-weight: var(--pesoTitolo);
}

.testoLeggero {
  font-weight: var(--pesoTitoloLeggero);
}

.testoEnfasi {
  font-weight: var(--pesoTestoEnfasi);
}
